@media screen and (max-width: 1050px) {
    .nro-carnet {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 950px) {
    #elclub-section-1 h2, #elclub-section-2 h2 {
        font-size: 1em;
        font-family: 'Nunito';
    }

    #elclub-section-1 p, #elclub-section-2 p {
        padding: 0 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 750px) {

    .header {
        flex-direction: column;
    }

    .nav-links {
        padding: 0;
    }

    .header .nav-links li {
        font-size: 15px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .partidos {
        flex-direction: column;
        gap: 40px;
        width: 50%;
        margin: 0 auto;
    }

    .section-3 {
        flex-direction: column;
    }

    .fichajes-alta, .fichajes-baja {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #elclub-section-1 {
        flex-direction: column;
    }

    #elclub-section-2 {
        flex-direction: column-reverse;
    }

    #elclub-section-1 img, #elclub-section-2 img {
        width: 100%;
    }

    #elclub-section-3 > div {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        gap: 40px;
    }

    .logros-internacionales, .logros-nacionales {
        min-width: auto;
        padding: 0 30px;
        font-size: 20px;
    }

    #elclub-section-3 {
        flex-direction: column;
        padding-top: 30px;
    }

    #elclub-section-5 {
        flex-direction: column;
    }

    .form {
        width: 70%;
    }

    .seccion-tienda {
        flex-direction: column;
    }
}

@media screen and (max-width: 530px) {
    .nav-links {
        flex-direction: column;
        gap: 40px;
    }

    .partidos {
        gap: 60px;
    }
}

@media screen and (max-width: 350px) {
    #plantilla-section-1 .plantilla-s1-titulo {
        font-size: 30px;
    }

    .card-jugador span {
        padding: 0px;
    }
}

